// Ad Boxes

.adListings{
	@include grid-row();
	margin-bottom: 0px;
	padding-bottom: 0px;
	.adSense-item{
		@include grid-column(12);
		.adMeta{
			@include grid-column(12);
		}
	}
}
.adListing-item{
	.ad-title{
		font-size: 1rem;
		margin-bottom: 0px;
		height: 2.4rem;
		overflow: hidden;
		
	}
	&.sponsored .adMeta{
		background-color: lighten(#FEF8B5, 5%);
	}
}

.adListing-item{
	@include grid-column(12);	
	@media #{$medium-up}{
		@include grid-column(6);
		
	}
	@media #{$large-up}{
		@include grid-column(3);
	}

}
.adThumbnail{
	@include grid-column(5);
	min-height: 120px; 
	background-position: center center; 
	background-size: cover;
	overflow: hidden;
	@media #{$medium-up} { 
		@include grid-column(5);
	}
	@media #{$large-up} {
		@include grid-column(12);
	}
}
.adMeta{
	@include grid-column(7);
	@extend .card-body;
	min-height: 120px;
	color: $grey1;
	@media #{$medium-up} { 
		@include grid-column(7);
	}
	@media #{$large-up} {
		@include grid-column(12);
	}
}

// Ad Filters

.filter-fixed-bar{
	@include grid-row();
	@extend .padding-top-base;
	@extend .padding-bottom-base;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
	background-color: rgba(255,255,255,0.8);
}
.filter-action{
	@include grid-column(12);
}
