.contact-bar{
	@extend .padding-half;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	.small-block-grid-3{
		padding-bottom: 0px;
		padding-left: 8px;
		padding-right: 8px;
		li{
			padding: 0px;
			margin: 0px;
		}
	}
		.button{
			@extend .hollow;
			@extend .padding-top-large;
			padding-bottom: 0px;
			color: $success;
			width: 100%;
			text-align: center;
			border-color: $success;
			font-size: 0.8em;
			
			&:nth-child(2){
				color: $white;
				background-color: $success;
				border-left: 0px;
				border-right: 0px;
			}
			&:hover{
				border-color: lighten($success, 5%);
				background-color: lighten($success, 5%);
				color: $white;
			}
		}
		.call{
			background-image: url('../images/contact-icons/Call%20Green@2x.png');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: center 4px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			&:hover{
				background-image: url('../images/contact-icons/Call%20White@2x.png');
			}
		}
		.sms{
			background-image: url('../images/contact-icons/SMS%20White@2x.png');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: center 4px;
			background-color: $success;
			color: $white;
			border-radius: 0px;
			&:hover{
				background-image: url('../images/contact-icons/SMS%20White@2x.png');
			}
		}
		.private-message, .chat{
			background-image: url('../images/contact-icons/Chat%20Green@2x.png');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: center 4px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			&:hover{
				background-image: url('../images/contact-icons/Chat%20White@2x.png');
			}
		}
}