#global-header{
	background-color: $olx-cerulean;
	
	.search{
		@extend .margin-top-base;
		@extend .margin-bottom-base;
		input, .button{
		}
		.search-field{
			border: 0px;
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(10);

			}
			@media #{$large-up} {
				@include grid-column(8);		
			}
		}
		.search-locationfilter{
			border: 0px;
		}
		.search-submit{
			border: 0px;
		}
	}
	.header-logo{
		background-image: url(../images/header-logo.png);
		background-repeat: no-repeat;
		background-size: 80% auto;
		background-position: center center;
		height: rem-calc(62px);
		text-indent: -100%;
		white-space: nowrap;
		@include grid-column($collapse: true);
		@media #{$medium-up} {
			background-size: 60%;
		}
	}
}