#global-header{
	background-color: $olx-cerulean;
	.global-search{
		@include grid-column(9);
		@media #{$medium-up} {
			@include grid-column(10);
		}
		@media #{$large-up} {
			@include grid-column(10);
		}
	}
	.search{
		@extend .margin-top-base;
		@extend .margin-bottom-base;
		input, .button{
		}
		.search-field{
			border: 0px;
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(10);

			}
			@media #{$large-up} {
				@include grid-column(8);		
			}
		}
		.search-locationfilter{
			border: 0px;
		}
		.search-submit{
			border: 0px;
		}
	}
	.header-logo{
		@include grid-column(
			$columns: 3
		);
		background-image: url('../../web/images/header-logo.png');
		background-repeat: no-repeat;
		background-position: left center;
		background-origin: content-box;
		-moz-background-origin: content-box;
		background-size: 40px;
		height: rem-calc(56px);
		text-indent: -100%;
		white-space: nowrap;
		@media #{$medium-up} {
			@include grid-column(2);
			background-size: 88px;
		}
		@media #{$large-up} {
			@include grid-column(2);
			background-size: 96px;
		}
	}
}