#global-header{
	background-color: $olx-cyan;
	.search{
		margin: rem-calc(8px) 0px;
		input, .button{
			border: 0px;
		}
		.search-field{
			@include grid-column(12);
			@media #{$medium-up} {
				@include grid-column(10);
				border-bottom-right-radius: 0px;
				border-top-right-radius: 0px;
			}
			@media #{$large-up} {
				@include grid-column(8);
				border-right: 0px;
				
			}
		}
		.search-locationfilter{
			border: 0;
		}
	}
	.header-logo{
		background-image: url(../images/header-logo.png);
		background-repeat: no-repeat;
		background-size: 80% auto;
		background-position: center center;
		height: rem-calc(62px);
		text-indent: -100%;
		white-space: nowrap;
		@include grid-column($collapse: true);
		@media #{$medium-up} {
			background-size: 60%;
		}
	}
}