// Typeface
$body-typeface: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// Type-size
$body-fontsize: 100%;

// Type-weights
$body-fontweight: 300;
$body-lineheight: 150%;
$body-fontweight-bold: 500;
$header-lineheight: 120%;
// Background 

