@import "globals";
// @import "settings";
// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
     "foundation/components/block-grid",
     "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
	 "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
     "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
     "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//	 "foundation/components/top-bar",
//	 "foundation/components/type",
//   "foundation/components/offcanvas",
	 "foundation/components/visibility",
	 "partials/quarks",
	 "partials/atoms",
	 "partials/molecules",
	 "partials/organisms";

.has-form {
  position: absolute;
  top: 0;
  left: 6rem; // adjust distance from left here
  min-width: 14rem; // adjust width here
  
  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;
    
    .button {
      height: 1.85rem;
    }
  }
}
.global-header{
	height: 3rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	.search{
		background-color: $white;
		height: 2.5rem;
		line-height: 2.5rem;
	}
}
.ad-thumbnail{
	height: 120px;
	background-image: url('http://placehold.it/120x120');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.adListings{
	margin-bottom: 60px;
}
.adListing{
	box-shadow: 0px 0px 4px #e1e1e1;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	background-color: #fff;
}
.categoryList{
	border-top: 1px solid #e2e2e2;
	@media only screen and (max-width: 40em) { 
		border: 0px;
	}
	@media only screen and (min-width: 64.063em) {
		border: 0px;
	}
}
.categoryList-item{
	border-bottom: 1px solid #e2e2e2;
	a{
		background: $white;
		display: block;
		padding: 0.5rem 0.5rem;
		@media only screen and (min-width: 64.063em) {
			padding: 1rem 0.25rem;
		}
		border-radius: 2px;
		margin: 0px 0.25rem;
		&:hover{
		background-color: #e2e2e2;
		}
	}
	@media only screen and (min-width: 40.063em) {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		border-bottom: 0px !important;
	}
	
}
.sellSection{
	background-image: url('http://d60d3gemsrq4j.cloudfront.net/static/olxph/packed/img/2f5a37b2d1149890c057eaea9bb946d061.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 1rem 3rem;
	@media only screen and (min-width: 40.063em) {
	padding-top: 5rem;
	padding-bottom: 5rem;
	}
	@media only screen and (min-width: 64.063em) { 
		height: 27rem;
		padding-top: 13rem;
	}
	.button{
		display: block;
		border-radius: 2px;
		margin: 0px 1rem;
		@media only screen and (min-width: 40.063em) {
			margin-left: 5rem;
			margin-right: 5rem;	
		}
	}
}
.homescreenBody{
	@media only screen and (min-width: 64.063em) {
	margin-top: 1rem;
	}
}
.categoryIcons{
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: #999;
	display: block;
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	@media only screen and (min-width: 40.063em) { 
		width: 4rem;
		height: 4rem;
		float: none;
		clear: both;
		border-radius: 2rem;
		margin-left: auto;
		margin-right: auto;
	}
}
.categoryTitle{
	line-height: 2rem;
	font-size: 1em;
	@media only screen and (min-width: 40.063em) { 
	text-align: center;
	display: block;
	}
}
.adbox{
	background: #999;
	color: $white;
	height: 88px;
	@extend .margin-top-half;
	@extend .margin-bottom-half;

}

	.sideadbox{
		@media only screen and (min-width: 40.063em) { 
			height: 250px !important;
		} 
	}
@media only screen and (max-width: 40em) {
  .orbit-container .orbit-next,
  .orbit-container .orbit-prev {
    display: block; }
}