@import "../globalvariables";

input{
	line-height: rem-calc(44);
	padding: 0 0.5rem;
	width: 100%;
	border: 0px;
	font-size: $body-fontsize;
	color: $grey3;
	border: 1px solid darken($alabaster, 10%);
	border-radius: rem-calc(2);
	margin: rem-calc(8) 0;
}