/* Generic Button atoms to be used for Katipunan */

.button{
	@extend .padding-base;
	@extend .display-inline-block;
	@extend .border-radius;
	@extend .border-width;
	@extend .border-blue;
	@extend .border-solid;
	@extend .background-blue;
	color: $white;
	&:hover{
		color: $white;
		background-color: lighten($blue, 10%);
	}
	&:visited{
		color: $white;
	}
	&:active{
		color: $white;
	}
	&.neutral{
		@extend .background-neutral;
		@extend .border-neutral;
		&:hover{
			background-color: lighten($neutral, 10%);
			border-color: lighten ($neutral, 10%);
		}
	}
	&.error{
		@extend .background-error;
		@extend .border-error;
		&:hover{
			background-color: lighten($error, 10%);
			border-color: lighten($error, 10%);
		}
	}
	&.warning{
		@extend .background-warning;
		@extend .border-warning;
		&:hover{
			background-color: lighten($warning, 10%);
			border-color: lighten($warning, 10%);
		}
	}
	&.hollow{
		background-color: $white;
		color: $blue;
		&:hover{
			background-color: $blue;
			border-color: $blue;
			color: $white;
		}
	}
	&.disabled{
		@extend .background-subtle;
		@extend .border-subtle;
		&:hover{
			background-color: $subtle;
			border-color: $subtle;
		}
	}
	&.success{
		@extend .background-success;
		@extend .border-success;
		&:hover{
			background-color: lighten($success, 5%);
			border-color: lighten($success, 5%);
		}
	}
}


