/* Generic Button atoms to be used for Katipunan */

.button{
	line-height: rem-calc(44);
	background-color: $grey1;
	display: inline-block;
	text-align: center;
	padding: 0px rem-calc(8px);
	border-radius:rem-calc(2px);
	color: $alabaster;
	border: 1px solid $grey1;
	&:hover{
		color: $alabaster;
		background-color: lighten($grey1, 10%);
	}
	&:visited{
		color: $alabaster
	}
	&:active{
		color: $alabaster
	}
	&.secondary{
		background-color: $grey3;
		border: $grey3;
	}
}

