$olx-orange: #FF7900; // 
$olx-green: #AABB00; // 
$olx-purple: #662288; // 
$olx-lilac: #86277F; // 
$olx-amethyst: #512D7E; // 
$olx-navy: #2165AA; // 
$olx-cyan: #168ECA; // 
$olx-sky: #85D0EF; // 
$olx-seafoam: #51BCC3; // 
$olx-seagreen: #049997; // 
$olx-olive: #729424; // 
$olx-lime: #47B200; // 
$olx-pineapple: #F2B320; // 
$olx-tangerine: #FF7800; // 
$olx-magenta: #d53B81; // 
$olx-hotpink: #E53466; // 
$olx-vermillion: #D51F36; // 
$olx-earth: #98351A; // 
$white: #FFFFFF; // 
$black: #000000; // 
$alabaster: #f2f2f2; // 
$grey1: #333333; // 
$grey2: #666666; // 
$grey3: #999999; // 
$white: #fff; //