/* Generic Typographyic Hierarchy */


// body type
body{
	font-family: $body-typeface;
	font-size: $body-fontsize;
	font-weight: $body-fontweight;
	line-height: $body-lineheight;
}

// headers
h1,h2,h3,h4,h5,h6{
	font-weight: $body-fontweight;
	line-height: $body-lineheight;
}

h1{
	font-size: 2rem;
	@media #{$large-up}{
		font-size: 2.8rem;
	}
}
h2{
	font-size: 1.8rem;
	@media #{$large-up}{
		font-size: 2.2rem;
	}
}
h3{
	font-size: 1.6rem;
	@media #{$large-up}{
		font-size: 1.8rem;
	}
}
h4{
	font-size: 1.4rem;
	@media #{$large-up}{
		font-size: 1.4rem;
	}
}
h5{
	font-size: 1.2rem;
}
h6{
	font-size: 1.1rem;
}

// type styles
strong{
	font-weight: $body-fontweight-bold;
}

small{
	font-size: 0.8rem;
}

a{
	color: $olx-cyan;
	text-decoration: none;
	&:visited{
		color: darken($olx-cyan, 5%);
	}
	&:hover{
		color: lighten($olx-cyan, 10%);
	}
}