.card{
	@extend .margin-top-base;
	@extend .margin-bottom-base;
	@extend .border-radius;

}
.card-header{
	@extend .padding-base;
	background-color: $neutral;
	color: $white;
}
.card-body{
	@extend .padding-base;
	border: 1px solid $alabaster;
	background-color: $white;
	&.sidebox{
		width: 307px;
		height: 250px;
	}
}

.adListing{
	h3{
		margin: 0px;
	}
}
