.search{
	@include grid-row();
	@extend .margin-top-half;
	@extend .margin-bottom-half;
	@extend .display-block;
	label{
		display: block;
		margin: rem-calc(8px) 0px;
		@include grid-column($columns: 12, $collapse: true);
	}
	.search-field{
		@include grid-column(8);
		@media #{$medium-up} {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		border-right-width: 0px;
		

	}
	.search-locationfilter{
		@extend .border-solid;
		@extend .border-subtle;
		@extend .border-width;
		background-color: $white;
		padding-top: rem-calc(3px);
		padding-bottom: rem-calc(3px);
		border-left: 0px;
		border-right: 0px;
		@include grid-column($columns: 2, $collapse: true);
		.button{
			@extend .padding-half;
			@extend .display-block;
			@extend .margin-left-base;
			@extend .margin-right-base;
			@extend .text-center;
			@extend .hollow;
		}
	}
	.search-submit{
		@extend .success;
		@include grid-column (4);
		@media #{$medium-up} {
			@include grid-column (2);	
		}
		text-align: center;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}
